/*destiny caall ilnk*/
#calllinkid {
	background-color: orange;
	text-decoration: none;
	padding: 1px 11px !important;
	margin-top: 2px !important; 
	width: auto !important;
}
 #spanroneouteight {
 	margin-top: 2px !important; 
 	
 	
 }
 #spanroneoutsix #spanin {
 	margin-top: 12px !important; 
 	
 	
 }
  
  
 main {
	background-color: violet !important;
	height: 43px !important;
	clear: both;
	float: none;
}

.maina {
	height: 95px !important;
	
	
}
#routeae, #routeaae {
	margin: 16px 0px 0px 0px !important;
	
	 
	
}

/*proposed
live chat btn*/
.formcc .folchat {
	visibility: hidden !important;
	
	
}
.formcc #spanroneoutsix {
	width: 16% !important;
	
}
.formcc #spanroneouteight {
	width: 8% !important;
	
	
}
/*board*/
.formcc .fobod {
	width: auto !important;
	margin-left: 30% !important;
	
}
.formcc .fotrak {
	width: auto !important;
	position: relative;
	right: 5px;
	
}


.routea {
	margin: 0px 0px 0px 0px !important;
	display: none !important;
	
}
.leftloa {
	display: none !important;
}
.leftloae {
	display: block !important;
	
	background-color: pink !important;
}
#spanroneoutone, #spanroneouttwo, #spanroneoutthree, #spanroneoutfour, #spanroneoutfive, #spanroneoutsix, #spanroneouteight  {
	padding: 5px auto !important;
	height: 50px !important;
	
}
#spanine {
	padding: 8px 4px 8px 8px !important;
	background-color: pink !important;
	height: 50px !important;
}

  

#titlespan, #fortitlehd, #fortitlehdy, #fortitleshn, #titlespana, #titlespanaes {
	display: block !important;
	background-color: transparent !important;
	padding: 10px auto !important;
}
 
#spanina {
	margin: -5px 0 4px 0 !important;
	background-color: pink !important;
	height: 100% !important;
}


.rightsloa {
	display: block !important;
}




/*schedule styles*/

body {
	background-color: #555555 !important;
	
}
.cchargeclass {
	background-color: violet !important;
	
	
}
.amclass {
	background-color: violet !important;
	
	
}





#mainzz {
	height: 140px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-top: 0px !important;
	float: none;
	clear: both;
	
}
.leftloae {
	
	margin-top: -5px !important;
	
}
.majors  main routea {
	display: none;
}


.majors {
	background-color: violet !important;
	
}
.majors  main {
	background-color: violet !important;
}
#mainyy {
	display: block !important;
	 float: none;
	 clear: both;
	padding-top: 0px !important;
	margin-top: 27px !important;
	background-color: palegreen !important;
}

.majors  #mainyy {
	height:0px !important;
}
#mainyy a {
	background-color: #ffeff4;
	text-decoration: none;
	opacity: 0.7;
	border-radius: 5px;
	font-family: Helvetica, serif;
	font-weight: lighter;
	color: lightgrey;
	padding: 2px 5px;
	
}



.alldivsa {
	background-color: palegreen !important;
	text-align-last: center;
}
.alldivs {
	background-color: purple !important;
	padding: 25px 5px !important;
	text-shadow: 1px 1px 1px #000;
	color: #fff;
}
.alldivsb {
	background-color: darkslategray !important;
	padding: 25px 5px !important;
	line-height: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	color: #fff;
}

.labelonespan {
	width: auto;
	float: left;
	clear: none;
	margin: 0;
	padding: 0;
}
.labelonespanl {
	
	float: left;
	clear: none;
	margin: 0;
	padding: 0;
	
}
.labelonespanr {
	
	
	float: right;
	clear: right;
	margin: 0;
	padding: 0;
	
}
.majors .bottomsloa  {
    height: 51px !important;
	 
}
/*status index page*/
.forstatuss h1 {
	
	
	
}
.forstatuss h2 {
	
	
	
}
.forstatuss .btnsecn {
	
	
	
}
.heloright {
	
	text-align-last: center;
	
}
.btnsecn {
	
	width: 60% !important; 
}

#rightstat {
	
	margin-right: 120px !important;
}


/*parked styles*/
#majors {
	
	float: none !important;
	clear: both !important;
}
.majoram {
	background-color: violet !important;
	float: none !important;
	clear: both !important;
	padding: 0 !important;
	margin: 0 !important;
}
#majors main, .majoram main {
	background-color: violet !important;
	float: none !important;
	clear: both !important;
	padding: 0 !important;
	margin: 0 !important;
}
body {
	padding: 0 !important;
	margin: 0 !important;
	
}
/*already moving buses*/

 .majoram .routeaamd, .majoramd .routeaamd {
	 padding: 15px 5px!important;
	 margin: 0px 0 0px 0 !important;
	 border-top-left-radius: 0px;
	 border-top-right-radius: 0px;
	 text-align-last: left;
	  background-color: palegreen !important;
	  display: none !important;
}


.leftloaamd #spanroneouteight {
	 background-color: violet !important;
	 display: block !important;	
	 margin-top: -5px !important;
}
#spaninr {
	
	padding-left: 5px !important;
}
/*destiny buses*/

@media screen and (min-width: 899px) and (max-width: 1270px) {
	
	
	
	/*proposed
live chat btn*/
.formcc .folchat {
	visibility: hidden !important;
	
	
}
.formcc #spanroneoutsix {
	width: 12% !important;
	
}
.formcc #spanroneouteight {
	width: 12% !important;
	
	
}
/*board*/
.formcc .fobod {
	width: auto !important;
	margin-left: 48% !important;
	
}
.formcc .fotrak {
	width: auto !important;
	margin-right: 2% !important;
	
}

	
	
	
	
	
	
}









